if ((!user && post.published) || (user))
    .post.styled(class=(!post.published ? 'unpublished' : ''), data-meta=(user ? post : ''))
        h1.title #{post.title}
        .content!= md(post.content)
        span.meta
            a(href="/post/" + post.slug)
                time.date(datetime=(new Date(post.date).toISOString())) #{new Date(post.date).toISOString()}
            | 
            span.owner
                | by
                | 
                a(href="/user/" + (Object.keys(post.owner.name).length ? post.owner.id : 'anonymous')) #{Object.keys(post.owner.name).length ? post.owner.name.first + ' ' + post.owner.name.last : (user ? post.owner.username : 'anonymous')}            
    if(layout.currentPage.replace('/', '').split('/')[0] == 'post')
        if(post.commentsEnabled)
            if(user)
                .commentBox.styled
                    form(method="POST", action="/new/comment")
                        textarea(style="width: 100%; padding: 5px; resize: none;", rows="1" placeholder="Leave a comment", name="comment")
                        input(type="hidden", name="postId", value=post.id)
                        input(type="submit", value="Comment").button
                if(comments.length)
                    .comments
                        for comment in comments
                            include comment
            else
                .commentBox.styled
                    | Please #[a(href="/signup") create an account] or #[a(href="/signin") signin] to comment!
else
    .post.styled
        p This post hasn't been published yet.
