if (!user)
    .blog-post.col-lg-12.col-md-12
        if(post.published)
            h2.blog-post-title #{post.title}
            p.blog-post-meta
                span.date #{post._id.getTimestamp()} 
                | 
                span.owner by #{post.owner.name.first} #{post.owner.name.last}
            div!= md(post.content)
        else
            p This post hasn't been published yet.
else
    .blog-post.col-lg-12.col-md-12(class=(!post.published ? 'blog-post-unpublished' : ''), data-meta=post)
        h2.blog-post-title #{post.title}
        p.blog-post-meta
            span.date #{post._id.getTimestamp()}
            | 
            span.owner by #{post.owner.name.first} #{post.owner.name.last}
        div!= md(post.content)
